.list {
	margin: 0 0 0 0.75rem;
}

.title {
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 0.15rem;
}

.value {
	color: var(--color-text);
	display: inline-block;
	margin: 0 0 0 0.5rem;
}
