.root {
	padding: 1rem;
}

.label {
	display: block;
	margin-bottom: 0.75rem;
	font-size: 0.9rem;
}

h2 {
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: lighter;
}

.message {
	margin-left: 1.25rem;
	margin-top: 0.5rem;
}

.description {
	margin-left: 1.25rem;
	margin-top: 0.25rem !important;
	margin-bottom: 2rem;
	font-size: 0.9rem;
}

.settingSpace {
	margin-bottom: 2rem;
}

.settingsSpaceSmall {
	margin-bottom: 0.5rem;
}
