.title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: var(--color-element-text);
	font-family: var(--font-monospace);
	font-size: var(--font-xnormal);
}

.nameCh {
	color: var(--color-text);
	font-size: var(--font-small);
}
