.title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: var(--color-element-text);
	font-family: var(--font-monospace);
	font-size: 1.2rem;
}

.nameCh {
	color: var(--color-text);
	font-size: 0.7rem;
}
