.item {
	background: none;
	border: none;
	color: var(--color-element-text);
	width: 100%;
	text-align: start;
	display: flex;
	align-items: center;
	font-size: var(--font-small);
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border-radius: 0.1875rem;
}

.item:hover {
	background: var(--color-dim-bg);
}

.item[data-active] {
	color: var(--color-selected-text);
	background: var(--color-selected-bg);
}

.item span {
	display: block;
}
