.btnIcon {
	border: none;
	background: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	outline: none;
	color: var(--color-text);
}

.btnIcon[data-active] {
	color: var(--color-button-active);
	color: var(--color-button-active);
}

.btnWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.searchContainer {
	align-items: center;
	flex: 1 1 auto;
	display: flex;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	min-width: 0;
}

.search {
	flex: 1 1 auto;
	border: none;
	background: none;
	color: var(--color-text);
	margin-left: 0.25rem !important;
	position: relative;
	padding: 0.25rem 0;
	border-bottom: 0.0625rem solid transparent;
	border-top: 0.025rem solid transparent;
}

.search:focus {
	outline: none;
	border-bottom: 0.0625rem solid var(--color-selected-bg);
}

.searchCounter {
	display: inline-flex;
	font-size: 0.8rem;
	color: var(--color-text-empty);
}

.filterBtnWrapper {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
}

.filter {
	position: absolute;
	top: 90%;
	right: -0.5rem;
	border-top: none;
	box-shadow: 0 0.1875rem 0.375rem var(--color-shadow);
	background: var(--color-bg);
	width: 12rem;
	z-index: 10;
	padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

.filter form {
	margin: 0;
}

.filter label {
	cursor: pointer;
}

.filterRow {
	display: flex;
	height: 1.375rem;
	align-items: center;
}

.filterRow + .filterRow {
	margin-top: 0.25rem;
}

.filterCheck {
	width: 1.25rem;
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-start;
	align-items: center;
}

.filterCheck svg {
	width: 1.25rem;
}

.filterCheck input {
	opacity: 0;
	position: absolute;
	left: 0;
}

.filterCheck input:checked + svg {
	color: var(--color-selected-bg);
}

.filterValue {
	text-align: left;
}

.filterName {
	display: flex;
	align-items: center;
	width: 100%;
	background: var(--color-props-input-bg);
	border: none;
	color: var(--color-text);
	padding: 0.15rem 0.3rem;
}

.filterActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterSubmitBtn {
	display: block;
	background: var(--color-selected-bg);
	color: var(--color-selected-text);
	border: none;
	border-radius: 0.1875rem;
	font-size: 0.8rem;
	padding: 0.25rem 0.5rem;
}

.filterSubmitBtn svg {
	margin-right: 0.25rem;
}

.removeWrapper {
	width: 1.5rem;
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-end;
}

.vSep {
	height: 0.0625rem;
	margin: 0.4rem 0;
}
