.root {
	margin-top: 0.5rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
}

.name {
	width: 5rem;
	background: var(--color-props-input-bg);
}

.nameWrapper::after {
	margin: 0 0.2rem;
	display: inline-block;
}

.value {
	background: var(--color-props-input-bg);
	max-width: 5rem;
	padding-left: 0.2rem;
}
