.valueWrapper {
	display: flex;
	justify-content: flex-end;
	min-width: 100%;
}

.check {
	cursor: pointer;
}

.withCheck .valueInput {
	color: transparent !important;
}

.withCheck:focus-within .valueInput {
	color: inherit !important;
}

.valueInput {
	font-family: monospace;
	background: none;
	border: none;
	line-height: 1;
	z-index: 20;
	color: inherit;
	flex: 1;
	padding-right: 0.2em;
	min-width: 0;
}

.innerWrapper {
	min-width: 0;
	flex: 1;
	display: flex;
}

.innerWrapper:focus-within .valueInput {
	background: var(--color-props-input-bg);
	outline: none;
}

.innerWrapper:focus-within .undoBtn {
	display: block;
}

.undoBtn {
	display: none;
	background: none;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding: 0 0.75rem;
	opacity: 0;
	transition: all 0.2s;
	visibility: hidden;
	color: var(--color-text);
}

.showUndoBtn {
	visibility: visible;
	opacity: 1;
}

.undoBtn:hover {
	color: var(--color-button-active);
}

.undoBtn:focus {
	color: var(--color-button-active);
}

.mask {
	position: relative;
}

.valueInput[data-type="string"] {
	color: var(--color-props-string);
}

.valueInput[data-type="function"] {
	color: var(--color-props-function);
}

.valueInput[data-type="number"] {
	color: var(--color-props-number);
}

.valueInput[data-type="boolean"] {
	color: var(--color-props-boolean);
}

.valueInput[data-type="array"] {
	color: var(--color-props-array);
}

.valueInput[data-type="object"] {
	color: var(--color-props-object);
}

.valueInput[data-type="null"] {
	color: var(--color-props-null);
}

.valueInput[data-type="vnode"] {
	color: var(--color-props-vnode);
}
