/* Tab Group */
.group {
	display: flex;
	align-items: center;
}

/* Small Tab */
.root {
	cursor: pointer;
	height: 100%;
	display: flex;
}

.label {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	height: 100%;
	position: relative;
}

.input:checked + .label::after {
	content: "";
	position: absolute;
	bottom: -0.0625rem;
	left: 0;
	right: 0;
	height: 0.125rem;
	background: var(--color-selected-bg);
}

/* IconTab */
.iconRoot {
	cursor: pointer;
	height: 100%;
	display: flex;
}

.input {
	position: absolute;
	visibility: hidden;
}

.input[disabled] + * {
	opacity: 0.5;
}

.input:checked:not([disabled]) + .iconInner::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0.1875rem;
	background: var(--color-selected-bg);
}

.iconInner {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	position: relative;
}

.iconLabel {
	display: none;
	margin-left: 0.25rem;
	font-size: 0.8rem;
}

@media (min-width: 46rem) {
	.iconLabel {
		display: inline-block;
	}
}
