.root {
	display: flex;
	align-items: center;
	height: 100%;
	flex-shrink: 0;
	flex-grow: 1;
}

.legend {
	display: flex;
	flex-direction: row;
	font-size: 0.8rem;
	margin-left: 0.25rem;
}

.items {
	display: flex;
	margin: 0 0rem;
	min-height: 1rem;
	height: calc(100% - 1rem);
}

.item {
	position: relative;
	min-width: 0.5rem;
	width: 2rem;
	cursor: pointer;
}

.item::-moz-focus-inner {
	border: 0;
}

.item + .item {
	margin-left: 0.2rem;
}

.item[data-selected]::after {
	content: "";
	height: 0.125rem;
	width: 100%;
	position: absolute;
	top: calc(100% + 0.125rem);
	left: 0;
	background: var(--color-selected-bg);
}

.itemInner {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.itemInner[data-weight="1"] {
	background: var(--color-profiler-gradient-1);
}
.itemInner[data-weight="2"] {
	background: var(--color-profiler-gradient-2);
}
.itemInner[data-weight="3"] {
	background: var(--color-profiler-gradient-3);
}
.itemInner[data-weight="4"] {
	background: var(--color-profiler-gradient-4);
}

.navBtn {
	display: flex;
	background: none;
	border: none;
	padding: 0 0.5rem;
	cursor: pointer;
	color: var(--color-text);
	transition: color 0.3s;
}

.navBtn[disabled] {
	color: var(--color-disabled);
}
