.root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}

.title {
	color: white;
	margin: 0 0 0.5rem 0;
}

.descr {
	margin: 0;
	font-size: 0.9rem;
	display: inline-flex;
	align-items: center;
}

.inlineBtn {
	display: inline-flex;
	align-items: center;
	margin: 0 0.25rem;
}
