.panel {
	padding: 0.5rem;
}

.empty {
	font-style: italic;
	color: var(--color-text-empty);
	font-size: 0.65rem;
}

.title {
	font-size: 0.8rem;
	line-height: 1.4;
	margin: 0 0 0.1rem 0;
	font-weight: normal;
	color: var(--color-sidebar-title);
}

.content {
	padding-left: 0.8rem;
}
