.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 0.0625rem solid var(--color-border);
	height: 2.25rem;
	flex: 0 0 auto;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.sep {
	width: 0.0625rem;
	background: var(--color-border);
	height: 50%;
	margin: 0 0.25rem;
	display: flex;
	flex-basis: 0.125rem;
}
