.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 0.0625rem solid var(--color-border);
	height: 2.25rem;
	flex: 0 0 auto;
}

.sep {
	width: 0.0625rem;
	background: var(--color-border);
	height: 50%;
	display: flex;
}
