.root {
	min-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background: var(--color-bg);
	color: var(--color-text);
}

.root button::-moz-focus-inner {
	border: none;
}

.root input {
	margin: 0;
}

:global(.light) .root {
	--color-bg: white;
	--color-text: #333;
	--color-selected-bg: #8058ca;
	--color-selected-text: white;
	--color-selected-inactive-bg: gray;
	--color-selected-inactive-text: white;
	--color-element-text: #673ab8;
	--color-element-non-interactive: #1b1b1b;
	--color-dim-bg: #e9e1f8;
	--color-inactive-child-bg: #e9e1f8;
	--color-hover: #e9e1f8;
	--color-border: #dedede;
	--color-text-empty: #444;
	--color-button-active: #7245c7;
	--color-modal-backdrop: rgba(197, 197, 197, 0.8);
	--color-modal-border: #bbb;
	--color-marker: yellow;
	--color-marker-selected: orange;
	--color-input-border: #4d4d4d;
	--color-input-invalid: #ff5722;
	--color-empty-logo: #dadada;
	--color-key-label: gray;
	--color-key-label-selected: #dadada;
	--color-key-value: #ff5722;
	--color-key-value-selected: orange;

	/* Props */
	--color-props-input-bg: #f0f0f0;
	--color-props-sep: #444;
	--color-props-string: #009906;
	--color-props-function: #1b1b1b;
	--color-props-number: #ff5722;
	--color-props-boolean: #03a9f4;
	--color-props-array: #1b1b1b;
	--color-props-object: #1b1b1b;
	--color-props-null: #1b1b1b;
	--color-props-vnode: #1b1b1b;
}

:global(.dark) .root {
	--color-bg: #242424;
	--color-text: #b0b0b0;
	--color-selected-bg: #ae80ff;
	--color-selected-text: white;
	--color-selected-inactive-bg: gray;
	--color-selected-inactive-text: white;
	--color-element-text: #d2adff;
	--color-element-non-interactive: #dedede;
	--color-dim-bg: #545454;
	--color-inactive-child-bg: #e9e1f8;
	--color-hover: #3a3a3a;
	--color-border: #575757;
	--color-text-empty: #999;
	--color-button-active: #d2adff;
	--color-sidebar-title: #c5c5c5;
	--color-modal-backdrop: rgba(50, 50, 50, 0.8);
	--color-modal-border: #4d4d4d;
	--color-marker: yellow;
	--color-marker-selected: orange;
	--color-input-border: #666;
	--color-input-invalid: #ff5722;
	--color-empty-logo: #555;
	--color-key-label: gray;
	--color-key-label-selected: #dedede;
	--color-key-value: #ff5722;
	--color-key-value-selected: yellow;

	/* Props */
	--color-props-input-bg: #444;
	--color-props-sep: #eee;
	--color-props-string: #9eeca1;
	--color-props-function: #dedede;
	--color-props-number: #fdca31;
	--color-props-boolean: #79ccf2;
	--color-props-array: #dedede;
	--color-props-object: #dedede;
	--color-props-null: #dedede;
	--color-props-vnode: #dedede;
}

.components {
	display: flex;
	flex: 0 0 65%;
	width: 65%;
	flex-direction: column;
}

.sidebar {
	display: flex;
	flex: 0 0 35%;
	width: 35%;
	overflow-x: hidden;
	flex-direction: column;
	border-left: 0.0625rem solid var(--color-border);
}
