/**
 * Icons
 */
.svg-icon {
	width: 1rem;
	height: 1rem;
}

/**
 * Sidebar Layout
 */
.sidebar-layout {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2.25rem 1fr 2.25rem 1fr;
	grid-template-areas:
		"treeActions"
		"tree"
		"sidebarActions"
		"sidebar";

	/* Different browsers may have different defaults */
	font-family: sans-serif;
	overflow: auto;
}

@media (min-width: 37.5rem) {
	.sidebar-layout {
		grid-template-columns: minmax(0, 75%) minmax(35%, 15rem);
		grid-template-rows: 2.25rem 1fr;
		grid-template-areas:
			"treeActions sidebarActions"
			"tree sidebar";
	}
}

.sidebar-layout-single {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2.25rem 1fr;
	grid-template-areas: "actions" "content";

	/* Different browsers may have different defaults */
	font-family: sans-serif;
	overflow: hidden;
}

.sidebar-layout-root {
	height: 100%;
	display: flex;
	overflow: hidden;
}

.sidebar-layout-inner {
	overflow: auto;
	width: 100%;
}

/**
 * Checkbox
 */
.checkbox-root {
	display: flex;
	font-size: 1rem;
}

.checkbox-wrapper {
	width: 1.25rem;
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-start;
	align-items: center;
}

.checkbox-wrapper svg {
	width: 1.25rem;
}

.checkbox-wrapper input {
	opacity: 0;
	position: absolute;
	left: 0;
}

.checkbox-wrapper input:checked + svg {
	color: var(--color-selected-bg);
}

.checkbox-content {
	color: var(--color-text-stronger);
}

/**
 * Actions
 */
.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 0.0625rem solid var(--color-border);
	height: 2.25rem;
	flex: 0 0 auto;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.actions-sep {
	width: 0.0625rem;
	background: var(--color-border);
	height: 50%;
	margin: 0 0.25rem;
	display: flex;
	flex-basis: 0.125rem;
}

/**
 * RenderedAt panel
 */
.rendered-at-item {
	background: none;
	border: none;
	color: var(--color-element-text);
	width: 100%;
	text-align: start;
	display: flex;
	align-items: center;
	font-size: var(--font-small);
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border-radius: 0.1875rem;
}
.rendered-at-item:hover {
	background: var(--color-dim-bg);
}
.rendered-at-item[data-active] {
	color: var(--color-selected-text);
	background: var(--color-selected-bg);
}

.rendered-at-item span {
	display: block;
}

/**
 * HOC panel
 */
.hoc-panel {
	border-bottom: 0.0625rem solid var(--color-border);
	padding: 0.1875rem 0.6rem;
	display: flex;
	flex-wrap: wrap;
}

.hoc-panel .hoc {
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
	margin-right: 0.4rem;
}

.hoc-panel:last-of-type(.hoc) {
	margin-right: 0;
}

.hoc {
	display: inline-block;
	background: var(--color-hoc-bg);
	border-radius: 0.1875rem;
	font-size: var(--font-small);
	font-family: var(--font-monospace);
	padding: 0.2rem 0.4rem;
	line-height: normal;
	color: var(--color-hoc-text);
}

.hoc[data-size="small"] {
	font-size: var(--font-xxxsmall);
	border-radius: 0.125rem;
	padding: 0.125rem 0.25rem;
}

/**
 * Key panel
 */
.keypanel-value {
	color: var(--color-key-value);
	font-family: var(--font-monospace);
	font-size: var(--font-small);
	padding-left: 1.25rem;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/**
 * NewProp input
 */
.newprop-root {
	margin-top: 0.5rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
}

.newprop-name {
	width: 5rem;
	background: var(--color-props-input-bg);
}

.newprop-namewrapper::after {
	margin: 0 0.2rem;
	display: inline-block;
}

.newprop-value {
	background: var(--color-props-input-bg);
	max-width: 5rem;
	padding-left: 0.2rem;
}

/**
 * Render Reason
 */
.render-reason {
	margin: 0 0 0 0.75rem;
}

.render-reason-name {
	display: inline-block;
}

.render-reason-value {
	display: inline-block;
	margin-left: 0.75rem;
}

.render-reason-message {
	margin-top: 1rem;
}

/**
 * ComponentName
 */
.component-name-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: var(--color-element-text);
	font-family: var(--font-monospace);
	font-size: var(--font-xnormal);
}

.component-name-ch {
	color: var(--color-text);
	font-size: var(--font-small);
}

/**
 * CommitInfo
 */
.commit-info-list {
	margin: 0 0 0 0.75rem;
}

.commit-info-title {
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 0.15rem;
}

.commit-info-value {
	color: var(--color-text);
	display: inline-block;
	margin: 0 0 0 0.5rem;
}

/**
 * Sidebar Panel
 */
.sidebar-panel {
	padding: 0.6rem;
}

.sidebar-panel-placeholder {
	font-style: italic;
	color: var(--color-text-empty);
	font-size: 0.65rem;
	padding-left: 0.8rem;
}

.sidebar-panel-header {
	display: flex;
	justify-content: space-between;
}

.sidebar-panel-title {
	font-size: 0.8rem;
	line-height: 1.4;
	margin: 0 0 0.1rem 0;
	font-weight: normal;
	color: var(--color-sidebar-title);
}

.sidebar-panel-content {
	padding: 0.25rem 0;
}

/**
 * Message
 */
.message {
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	padding: 0.2rem 0.4rem;
	border-width: 0.0625rem;
	border-style: solid;
	font-size: 0.8rem;
	background: var(--bg);
	border-color: var(--border);
}

.message[data-type="info"] {
	--bg: var(--message-info-bg);
	--border: var(--message-info-border);
	--btn: var(--message-info-link);
	--icon: var(--message-info-strong);
}
.message[data-type="warning"] {
	--bg: var(--message-warning-bg);
	--border: var(--message-warning-border);
	--btn: var(--message-warning-link);
	--icon: var(--message-warning-strong);
}

.message-icon {
	color: var(--icon);
	display: inline-flex;
	margin-right: 0.4rem;
}

.message-btn {
	color: var(--btn);
	border: none;
	background: none;
	padding: 0;
	text-decoration: underline;
	display: inline-block;
	margin-left: 0.25rem;
	cursor: pointer;
}

.message svg {
	width: 1rem;
	height: 1rem;
}

/**
 * Profiler tab
 */
.flamegraph-wrapper {
	padding: 0.4rem;
}

.profiler-sidebar-panel {
	padding: 0.6rem;
}

/**
 * Settings tab
 */
.settings-tab {
	padding: 1rem;
}

.settings-tab-label {
	display: block;
	margin-bottom: 0.75rem;
	font-size: 0.9rem;
}

.settings-tab h2 {
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: lighter;
}

.settings-tab-message {
	margin-left: 1.25rem;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.settings-tab-checkbox {
	margin-bottom: 0.5rem;
}

.settings-tab-description {
	margin-left: 1.25rem;
	margin-top: 0.25rem !important;
	margin-bottom: 2rem;
	font-size: 0.9rem;
}
