.root {
	height: 100%;
	display: grid;
	grid-template-columns: auto 35%;
	grid-template-rows: 1.625rem 2.25rem 1fr;
	grid-template-areas:
		"switcher switcher"
		"treeActions sidebarActions"
		"tree sidebar";
}

.theme {
	background: var(--color-bg);
	color: var(--color-text);
}

.theme button::-moz-focus-inner {
	border: none;
}

.theme input {
	margin: 0;
}

:global(.light) .theme {
	--color-bg: white;
	--color-text: #333;
	--color-disabled: #dedede;
	--color-selected-bg: #8058ca;
	--color-selected-text: white;
	--color-selected-inactive-bg: gray;
	--color-selected-inactive-text: white;
	--color-element-text: #673ab8;
	--color-element-non-interactive: #1b1b1b;
	--color-dim-bg: #e9e1f8;
	--color-inactive-child-bg: #e9e1f8;
	--color-hover: #e9e1f8;
	--color-border: #dedede;
	--color-dim-border: #dedede;
	--color-text-empty: #444;
	--color-button-active: #7245c7;
	--color-modal-backdrop: rgba(197, 197, 197, 0.8);
	--color-modal-border: #bbb;
	--color-marker: yellow;
	--color-marker-selected: orange;
	--color-input-border: #4d4d4d;
	--color-input-invalid: #ff5722;
	--color-empty-logo: #dadada;
	--color-key-label: gray;
	--color-key-label-selected: #dadada;
	--color-key-value: #ff5722;
	--color-key-value-selected: orange;
	--color-radio: #7245c7;

	/* Props */
	--color-props-input-bg: #f0f0f0;
	--color-props-sep: #444;
	--color-props-string: #009906;
	--color-props-function: #1b1b1b;
	--color-props-number: #ff5722;
	--color-props-boolean: #03a9f4;
	--color-props-array: #1b1b1b;
	--color-props-object: #1b1b1b;
	--color-props-null: #1b1b1b;
	--color-props-vnode: #1b1b1b;

	/* Profiling */
	--color-record-active: #ff5722;
	--color-profiler-old: #aaa;
	--color-profiler-gradient-0: #37afa9;
	--color-profiler-gradient-1: #63b19e;
	--color-profiler-gradient-2: #80b393;
	--color-profiler-gradient-3: #97b488;
	--color-profiler-gradient-4: #abb67d;
	--color-profiler-gradient-5: #beb771;
	--color-profiler-gradient-6: #cfb965;
	--color-profiler-gradient-7: #dfba57;
	--color-profiler-gradient-8: #efbb49;
	--color-profiler-gradient-9: #febc38;
}

:global(.dark) .theme {
	--color-bg: #242424;
	--color-text: #b0b0b0;
	--color-disabled: #575757;
	--color-selected-bg: #ae80ff;
	--color-selected-text: white;
	--color-selected-inactive-bg: gray;
	--color-selected-inactive-text: white;
	--color-element-text: #d2adff;
	--color-element-non-interactive: #dedede;
	--color-dim-bg: #545454;
	--color-inactive-child-bg: #e9e1f8;
	--color-hover: #3a3a3a;
	--color-border: #575757;
	--color-dim-border: #474747;
	--color-text-empty: #999;
	--color-button-active: #d2adff;
	--color-sidebar-title: #c5c5c5;
	--color-modal-backdrop: rgba(50, 50, 50, 0.8);
	--color-modal-border: #4d4d4d;
	--color-marker: yellow;
	--color-marker-selected: orange;
	--color-input-border: #666;
	--color-input-invalid: #ff5722;
	--color-empty-logo: #555;
	--color-key-label: gray;
	--color-key-label-selected: #dedede;
	--color-key-value: #ff5722;
	--color-key-value-selected: yellow;
	--color-radio: #d2adff;

	/* Props */
	--color-props-input-bg: #444;
	--color-props-sep: #eee;
	--color-props-string: #9eeca1;
	--color-props-function: #dedede;
	--color-props-number: #fdca31;
	--color-props-boolean: #79ccf2;
	--color-props-array: #dedede;
	--color-props-object: #dedede;
	--color-props-null: #dedede;
	--color-props-vnode: #dedede;

	/* Profiling */
	--color-record-active: #ff5722;
	/* --color-profiler-gradient-0: #00b397;
	--color-profiler-gradient-1: #00b397;
	--color-profiler-gradient-2: #beb2c5;
	--color-profiler-gradient-3: #b38480;
	--color-profiler-gradient-4: #af595a;
	--color-profiler-gradient-5: #d1ff80;
	--color-profiler-gradient-6: #f9f871;
	--color-profiler-gradient-7: #ffc052;
	--color-profiler-gradient-8: #ff855d;
	--color-profiler-gradient-9: #ff4c7c; */
	--color-profiler-old: #aaa;
	--color-profiler-gradient-0: #37afa9;
	--color-profiler-gradient-1: #63b19e;
	--color-profiler-gradient-2: #80b393;
	--color-profiler-gradient-3: #97b488;
	--color-profiler-gradient-4: #abb67d;
	--color-profiler-gradient-5: #beb771;
	--color-profiler-gradient-6: #cfb965;
	--color-profiler-gradient-7: #dfba57;
	--color-profiler-gradient-8: #efbb49;
	--color-profiler-gradient-9: #febc38;
}

.switcher {
	border-bottom: 0.0625rem solid var(--color-dim-border);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-area: switcher;
	height: 1.625rem;
}

.switcherInner {
	display: flex;
}

.bugLink {
	margin-right: 0.25rem;
	color: var(--color-element-text);
	font-size: 0.8rem;
	text-decoration: none;
}

.componentActions {
	grid-area: treeActions;
}

.components {
	grid-area: tree;
	overflow: auto;
}

.sidebarActions {
	grid-area: sidebarActions;
	border-left: 0.0625rem solid var(--color-border);
}

.sidebar {
	grid-area: sidebar;
	border-left: 0.0625rem solid var(--color-border);
	overflow: auto;
}
