.root {
	font-family: monospace;
	color: #bebebe;
	font-size: 0.7rem;
	text-align: center;
	position: absolute;
	pointer-events: none;
	z-index: 999999;
}

.content {
	background: rgba(136, 194, 232, 0.75);
	border-color: rgba(5, 150, 45, 0.5);
	border-style: solid;
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
}

.border {
	border-color: rgba(255, 241, 118, 0.75);
	border-style: solid;
	display: flex;
	flex: 1;
}

.margin {
	border-color: rgba(236, 169, 99, 0.75);
	border-style: solid;
	display: flex;
}

.label {
	color: #ea88fd;
}

.value {
	color: white;
}

.footer {
	display: inline-block;
	white-space: nowrap;
	margin: 0.5rem 0 0 0;
	border-radius: 0.2rem;
	padding: 0.3rem 0.4rem;
	background: #242424;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 0.0625rem solid #9a9a9a;
}

.fixed {
	position: fixed;
}

.fixed.fixedLeft {
	left: 1.5em;
	transform: translateX(0);
}

.fixed.fixedTop {
	top: 1.5em;
}

.fixed.fixedRight {
	right: 1.5em;
}

.fixed.fixedBottom {
	bottom: 1.5em;
}
