.root {
	position: relative;
	border: none;
	background: none;
	display: inline-flex;
	flex: 0 0 auto;
	padding: 0;
	align-items: center;
	outline: none;
}

.root:not([disabled]) {
	color: var(--color-text);
	cursor: pointer;
}

.root[disabled] {
	color: var(--color-disabled);
}

.root svg {
	position: relative;
	z-index: 1;
}

.root:not([disabled])[data-active],
.root:focus,
.root:not([disabled]):active {
	color: var(--color-selected-text);
}

.root:focus::after,
.root:not([disabled]):active::after,
.root:not([disabled])[data-active]::after {
	content: "";
	position: absolute;
	left: -0.25rem;
	top: -0.25rem;
	right: -0.25rem;
	bottom: -0.25rem;
	background: var(--color-selected-bg);
	border-radius: 0.2rem;
}
