.root {
	position: relative;
	border: none;
	background: none;
	display: inline-flex;
	flex: 0 0 auto;
	padding: 0;
	align-items: center;
	outline: none;
}

.root:not([disabled]) {
	color: var(--color-text);
	cursor: pointer;
}

.root[disabled] {
	color: var(--color-disabled);
}

.root svg {
	position: relative;
	z-index: 1;
}

.inner {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.root:active .inner,
.root:focus .inner {
	position: relative;
	z-index: 2;
}

.root:not([disabled])[data-active] .inner,
.root:focus .inner,
.root:not([disabled]):active .inner {
	color: var(--color-selected-text);
}

.root.secondary:active .inner {
	color: var(--color-text) !important;
	transform: translate3d(0, 0.0625rem, 0);
}

.bg {
	display: none;
}

.root:focus .bg {
	z-index: -1;
}

.root:not([disabled])[data-active] .bg {
	display: block;
	content: "";
	position: absolute;
	left: -0.25rem;
	top: -0.25rem;
	right: -0.25rem;
	bottom: -0.25rem;
	background: var(--color-selected-bg);
	border-radius: 0.2rem;
}
