.root {
	position: relative;
	border: none;
	background: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	outline: none;
	padding: 0;
	color: var(--color-text);
}

.root[data-active] {
	color: var(--color-button-active);
}
