body {
	margin: 0;
}

.root {
	display: grid;
	grid-template-columns: 12rem auto;
	grid-template-rows: 3rem calc(100vh - 3rem);
	grid-template-areas:
		"header header"
		"sidebar content";
}

body:global(.dark) {
	background: #222;
	color: whitesmoke;
}

a {
	color: inherit;
}

.header {
	grid-area: header;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 3rem;
}

.sidebar {
	grid-area: sidebar;
	padding-left: 1rem;
}

.main {
	grid-area: content;
}

.menu {
	--indent: 1rem;
	list-style: none;
	padding-left: 0;
}

.menuItem {
	padding: 0.25rem 0;
	/* color: ; */
}

.menuItem[data-indent="1"] {
	padding-left: calc(var(--indent) * 1);
}
.menuItem[data-indent="2"] {
	padding-left: calc(var(--indent) * 2);
}
