.root {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.node {
	position: absolute;
	cursor: pointer;
	color: black;
	font-size: 0.8rem;
	padding: 0 0.2rem;
	height: 100%;
	transition-property: all;
	transition-duration: 0.3s;
	padding-bottom: 1px;
	border-left: 1px solid var(--color-bg);
	display: flex;
	align-items: center;
}

.text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.node::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 1px;
	bottom: 1px;
	background: var(--color-profiler-old);
}

.node[data-overflow] .text {
	display: none;
}

.node[data-visible] {
	transition-property: all;
}
.node:not([data-visible]) {
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
	pointer-events: none;
}
.node[data-visible]:not([data-maximized]) {
	opacity: 1;
}

.node[data-weight="-2"]:not([data-overflow]) {
	color: var(--color-bystander-text);
}
.node[data-weight="-2"]::after {
	/* inline-pattern */
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0IDQiPgo8ZGVmcz4KICA8cGF0dGVybgogICAgaWQ9ImRpYWdvbmFsLWhhdGNoIgogICAgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIKICAgIHdpZHRoPSI0IgogICAgaGVpZ2h0PSI0IgogID4KICAgIDxwYXRoCiAgICAgIGQ9Ik0tMSwxIGwyLC0yCk0wLDQgbDQsLTQKTTMsNSBsMiwtMiIKc3Ryb2tlPSIjZGVkZWRlIgpzdHJva2Utd2lkdGg9IjEiCiAgICAvPgogIDwvcGF0dGVybj4KICA8L2RlZnM+CiAgPHJlY3QKICAgIHg9IjAiCiAgICB5PSIwIgogICAgd2lkdGg9IjQiCiAgICBoZWlnaHQ9IjQiCiAgICBmaWxsPSJ1cmwoI2RpYWdvbmFsLWhhdGNoKSIKICA+PC9yZWN0Pgo8L3N2Zz4=");
	background-repeat: repeat;
	background-color: transparent;
	background-size: 0.25rem 0.25rem;
}
:global(.dark) .node[data-weight="-2"]::after {
	opacity: 0.5;
}

.node[data-maximized]:not([data-selected]) {
	opacity: 0.5;
}

.node[data-weight="-1"]::after {
	background: var(--color-profiler-old);
}
.node[data-weight="0"]::after {
	background: var(--color-profiler-gradient-0);
}
.node[data-weight="1"]::after {
	background: var(--color-profiler-gradient-1);
}
.node[data-weight="2"]::after {
	background: var(--color-profiler-gradient-2);
}
.node[data-weight="3"]::after {
	background: var(--color-profiler-gradient-3);
}
.node[data-weight="4"]::after {
	background: var(--color-profiler-gradient-4);
}
.node[data-weight="5"]::after {
	background: var(--color-profiler-gradient-5);
}
.node[data-weight="6"]::after {
	background: var(--color-profiler-gradient-6);
}
.node[data-weight="7"]::after {
	background: var(--color-profiler-gradient-7);
}
.node[data-weight="8"]::after {
	background: var(--color-profiler-gradient-8);
}
.node[data-weight="9"]::after {
	background: var(--color-profiler-gradient-9);
}
