.root {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.node {
	position: absolute;
	cursor: pointer;
	background: #ccc;
	color: black;
	font-size: 0.8rem;
	padding: 0 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.3s;
}
