.root {
	font-family: monospace;
	font-size: 1rem;
}

.form {
	width: 100%;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	--indent-depth: 0.5rem;
}

.name {
	display: inline-block;
	color: var(--color-element-text);
	line-height: 1;
	white-space: nowrap;
}

.name::after {
	content: ":";
	color: var(--color-props-sep);
}

.nameStatic {
	padding: 0.2em 0 0.2em 0.2em;
	display: inline-block;
	line-height: 1.4;
}

.nameInput {
	border: none;
	background: transparent;
	padding: 0.2em 0 0.2em 0.2em;
	outline: none;
	color: inherit;
}

.nameInput:focus {
	background: var(--color-props-input-bg);
}

.property {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	padding-left: 0.25rem;
	width: 100%;
	position: relative;
}

.noCollapse {
	padding-left: 1.25rem;
}

.toggle {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0.2em 0.13em;
	cursor: pointer;
	color: #aaa;
}

.toggle:focus {
	outline: none;
}

.toggle svg {
	transition: transform 0.2s;
}

.toggle[data-collapsed="true"] svg {
	transform: rotate(-90deg);
}
