.key {
	color: var(--color-key-value);
	font-family: var(--font-monospace);
	font-size: var(--font-small);
	padding-left: 1.25rem;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
