.root {
	margin-top: 0.5rem;
	padding-left: 1.25rem;
	display: flex;
	flex-direction: row;
}

.name {
	width: 5rem;
	background: var(--color-props-input-bg);
}

.value {
	background: var(--color-props-input-bg);
	max-width: 5rem;
}
