.body > * + * {
	border-top: 0.0625rem solid var(--color-border);
}

.actions {
	justify-content: space-between;
	padding: 0 0.6rem !important;
}

@media (max-width: 37.5rem) {
	.actions {
		border-top: 0.0625rem solid var(--color-border);
	}
}

.iconActions {
	display: flex;
	align-items: center;
}

.iconActions > * + * {
	margin-left: 0.4rem;
}
