.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.title {
	padding: 0 0.5rem;
	color: var(--color-element-text);
	font-family: monospace;
	font-size: 1rem;
}

.body {
	overflow: auto;
}

.body > * + * {
	border-top: 0.0625rem solid var(--color-border);
}

.actions {
	justify-content: space-between;
}

.iconActions {
	display: flex;
	align-items: center;
}

.iconActions > * + * {
	margin-left: 0.25rem;
}
