.reason {
	margin: 0 0 0 0.75rem;
}

.reasonName {
	display: inline-block;
}

.reasonValue {
	display: inline-block;
	font-size: 0.9rem;
	font-weight: bold;
	margin-left: 0.75rem;
}

.message {
	margin-top: 1rem;
}
