* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

:root {
	--color-bg: white;
	--color-selected-bg: #8058ca;
	--color-selected-text: white;
	--color-selected-inactive-bg: gray;
	--color-selected-inactive-text: white;
	--color-element-text: #673ab8;
	--color-dim-bg: #e9e1f8;
	--color-inactive-child-bg: #e9e1f8;
	--color-hover: #e9e1f8;
	--color-border: #dedede;
	--color-text-empty: #444;
	--color-button-active: #7245c7;
}

:root :global(.dark) {
	--color-bg: #242424;
	--color-text: #b0b0b0;
}

body {
	background: var(--color-bg);
	color: var(--color-text);
}

iframe {
	border: none;
	background: none;
}

:global(.grid) {
	display: grid;
	grid-template-columns: auto auto;
}

/**
 * HOC panel
 */
.hoc-panel {
	border-bottom: 0.0625rem solid var(--color-border);
	padding: 0.1875rem 0.6rem;
	display: flex;
	flex-wrap: wrap;
}

.hoc-panel .hoc {
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
	margin-right: 0.4rem;
}

.hoc-panel:last-of-type(.hoc) {
	margin-right: 0;
}

.hoc {
	display: inline-block;
	background: var(--color-hoc-bg);
	border-radius: 0.1875rem;
	font-size: var(--font-small);
	font-family: var(--font-monospace);
	padding: 0.2rem 0.4rem;
	line-height: normal;
	color: var(--color-hoc-text);
}

.hoc[data-size="small"] {
	font-size: var(--font-xxxsmall);
	border-radius: 0.125rem;
	padding: 0.125rem 0.25rem;
}

/**
 * Key panel
 */
.keypanel-value {
	color: var(--color-key-value);
	font-family: var(--font-monospace);
	font-size: var(--font-small);
	padding-left: 1.25rem;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/**
 * NewProp input
 */
.newprop-root {
	margin-top: 0.5rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: row;
}

.newprop-name {
	width: 5rem;
	background: var(--color-props-input-bg);
}

.newprop-namewrapper::after {
	margin: 0 0.2rem;
	display: inline-block;
}

.newprop-value {
	background: var(--color-props-input-bg);
	max-width: 5rem;
	padding-left: 0.2rem;
}
